.content{
    grid-column-gap: 10px;
    height : 400px;
    width : 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.15fr auto  0.15fr;
    grid-template-areas:
            ". . . . . . . . . . . ."
            ". photo photo photo photo photo desc desc desc desc desc ."
            ". . . . . . . . . . . ."
}

.photo{grid-area: photo;}
.desc{grid-area: desc;}

.photo,.desc{
    color:black;
    padding : 10px;
    display : grid;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.photo:hover,.desc:hover{
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform : scale(1.03);
}
